# Application Port - KOA server listens on this port (default 3000).
PORT=3000

# Environment - If development, TypeORM will use typescript entities and DB conn will be non SSL
NODE_ENV=development

# JWT secret - JWT tokens should be signed with this value
JWT_SECRET=your-secret-whatever

# DB connection data in connection-string format.
DATABASE_URL=postgres://user:pass@localhost:5432/apidb